@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #bee2d9;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
    
}
.stats-card:hover{
    cursor: pointer;
    box-shadow: 0 0 30px rgb(27, 63, 46); 
}

.stats-card {
    background-color: #e2e2e2;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
  
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #e2e2e2;;
    
}

.game-card {
    background-color: #e2e2e2;;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  margin: 100px 0;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;


}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(27, 63, 46);
}

.game-card.visible{
    opacity: 1;
  transform: translateY(0);
}

.game-card img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #e2e2e2;;
}
#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover
{
    cursor: pointer;
    box-shadow: 0 0 30px rgb(27, 63, 46); 
}

.highlight{
    font-size: 51px;
}

#donate-btn {
    background-color: rgb(27, 63, 46); /* Green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Some padding */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  #donate-btn:hover {
    background-color: #218838; /* Darker green on hover */
  }